In [1]:
#Create a new Jupyter notebook called "DataScienceEcosysyem"

# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized

--Objectives--
- List popular languages for Data Science
- List some commonly used tools by Data Scientists
- List some of the Data Science tools
- Examples of arithmetic expressions
- coding to evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are -

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientits include

1. Pandas
2. Numpy
3. Matplotlib
4. Scipy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|VS Code|
|Google Colab|

Below are a few examples of evaluating arithmetic expressions in Python

- 4+7
- 6-3
- 5*8
- 10/2
- (3+6)*2

In [5]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes into hours by dividing by 60

200/60

3.3333333333333335

## Author
Nagaraj